<html>

<body>

<form id="addcustomer" action="/customer/add" method="post">
    First name: <input type="text" name="firstName"><br>
    Email: <input type="text" name="email"><br>
    Last name: <input type="text" name="lastName"><br>
    Cell: <input type="number" name="age"><br>
    <input type="submit" value="Submit">
</form>
<br/>

<form id="updatecustomer" action="/customer/update" method="post">
    Customer ID: <input type="number" name="customerId"><br>
    First name: <input type="text" name="firstName"><br>
    Email: <input type="text" name="email"><br>
    Last name: <input type="text" name="lastName"><br>
    Cell: <input type="number" name="age"><br>
    <input type="submit" value="Submit">
</form>
<br/>

<form id="deletecustomer" action="/customer/delete" method="post">
    Customer ID: <input type="number" name="customerId"><br>
    <input type="submit" value="Submit">
</form>
<br/>

<form id="filtercustomer" action="/customer/filter" method="post">
    Last name: <input type="text" name="lastName" id="customerFilter"><br>
    <input type="submit" value="Submit">
</form>
<br/>

<table>
    <thead> 
        <th>customerId</th>
        <th>email</th>
        <th>cell</th>
        <th>firstName</th>
        <th>lastName</th>
    </thead> 

    <tbody>
        {{#each customer}} 
        <tr> 
            <td>{{customerId}}</td> 
            <td>{{email}}</td> 
            <td>{{cell}}</td> 
            <td>{{firstName}}</td>
            <td>{{lastName}}</td>
        </tr> 
        {{/each}} 
    </tbody> 
</table>

</body>
</html>