<html>

<body>

<h2>Create Customer</h2>
<form action="/customer/add" method="post">
    First name: <input type="text" name="firstName"><br>
    Email: <input type="text" name="email"><br>
    Last name: <input type="text" name="lastName"><br>
    Cell: <input type="number" name="cell"><br>
    <input type="submit" value="Submit">
</form>
<br/>


<h2>Update Customer</h2>
<form action="/customer/update" method="post">
    Customer ID: <input type="number" name="customerId"><br>
    First name: <input type="text" name="firstName"><br>
    Email: <input type="text" name="email"><br>
    Last name: <input type="text" name="lastName"><br>
    Cell: <input type="number" name="cell"><br>
    <input type="submit" value="Submit">
</form>
<br/>

<h2>Delete Customer</h2>
<form action="/customer/delete" method="post">
    Customer ID: <input type="number" name="customerId"><br>
    <input type="submit" value="Submit">
</form>
<br/>

<h2>Filter Customer</h2>
<form action="/customer/filter" method="post">
    Last name: <input type="text" name="lastName"><br>
    <input type="submit" value="Submit">
</form>
<br/>


<h2>Current Customers</h2>
<table>
    <thead> 
        <th>customerId</th>
        <th>email</th>
        <th>cell</th>
        <th>firstName</th>
        <th>lastName</th>
    </thead> 

    <tbody>
        {{#each customers}} 
        <tr> 
            <td>{{customerId}}</td> 
            <td>{{email}}</td> 
            <td>{{cell}}</td> 
            <td>{{firstName}}</td>
            <td>{{lastName}}</td>
        </tr> 
        {{/each}} 
    </tbody> 
</table>

<br/>
<a href="/customer">Refresh</a>

<br/>
<a href="/">Back to main menu</a>

</body>
</html>